// Here you can add other styles

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $gray-700 inset;
  -webkit-text-fill-color: $body-color;
}

// _forms.scss
.form-control {
  outline: 0;
  border-radius: 0;
  border-width: 0 0 2px;
  border-bottom-color: theme-color("secondary");
  
  -webkit-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;

  &:focus {
    border-bottom-color: theme-color("primary");
  }

}

// _navs.scss
.nav-tabs {
  .nav-link {
    color: $gray-600;
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: $primary;
      background: $gray-900;
      border-color: $border-color;
      border-bottom-color: $gray-900;
      &:focus {
        background: $gray-900;
        border-color: $border-color;
        border-bottom-color: $border-color;
      }
    }
  }
}

.tab-content {
  margin-top: -1px;
  background: $gray-900;
  border: 1px solid $border-color;
  .tab-pane {
    padding: $spacer;
  }
}

.card-block {
  .tab-content {
    margin-top: 0;
    border: 0;
  }
}

.nav-fill {
  .nav-link {
    background-color: $gray-900;
    border-color: $border-color;
  }
}